


body {
    font-family: helvetica;
    text-decoration: none;
    }


/*navigation bar*/

nav {
		position: fixed;
		top: 0px;

}


/*navigation links spaces*/
nav li {
	float:left;
    padding: 8px;
    margin: 0;
    list-style-type: none; 
}


/*navigation container*/
nav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: block;
	background-color:black;
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: auto;
  	background-color: #ffffff;
	
}


/*links in navigation*/
a {
	text-decoration: none;
	color: black;
	font-size: x-small;
	color: #aaa;
}


.background img {
    width: 100%;
    background-position: -50px;

}


/*contains all three boxes*/

.body_container {
	margin-top: -250px;
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	
}

/*centers the three boxes*/
div ul {
	text-align: center;
}


/*THE BOXES THEMSELVES*/ 

.body_container li {
	width: 200px;
	background-color: gray;
	color: white;
	display: inline-block;

	
}


/*COLOR BOX*/

.colorheader1 {
		background-color: green;
		display: inline-block;
		width: 100%;


}

.colorheader2{
		background-color: purple;
		display: inline-block;
		width: 100%;
}

.colorheader3{
		background-color: blue;
		display: inline-block;
		width: 100%;

}



/*three colored boxes individ containers*/

/*.container1 {
	width: 200px;
	background-color: gray;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	
}*/


/*.container2 {
	width: 200px;
	background-color: gray;
	display: inline-block;
	text-align: center;
	margin-right: 20px;

	
}


.container3 {
	width: 200px;
	background-color: gray;
	display: inline-block;
	text-align: center;
	margin-right: 20px;


}
*/




/*footer*/


footer {
	position: absolute;
    background-color: black;
    text-align: center;
    color: white;
    padding:5px;
	width: 100%;
	top: bottom;
}


