


body {
    font-family: helvetica;
    text-decoration: none;
    }


/*navigation bar*/

nav {
		position: fixed;
		top: 0px;

}


/*navigation links spaces*/
nav li {
	float:left;
    padding: 8px;
    margin: 0;
    list-style-type: none; 
}


/*navigation container*/
nav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: block;
	background-color:black;
	 position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: auto;
  	background-color: #ffffff;
	
}


/*links in navigation*/
a {
	text-decoration: none;
	color: black;
	font-size: x-small;
	color: #aaa;
}


.background img {
    width: 100%;
    background-position: -50px;

}



.body_container {
	margin-top: -250px;
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	

}


/*three colored boxes*/ 

.container1 h1 {
	width: 200px;
	height: 150px;
	background-color: green;
	float: left;
	display: inline;
	color: white;

	
}


.container2 h1 {
	width: 200px;
	height: 150px;
	background-color: blue;
	float: left;
	display: inline;
	color: white;
	
}


.container3 h1 {
	width: 200px;
	height: 150px;
	background-color: black;
	float: left;
	display: inline;
	color: white;

}


/*three text fields under colored boxes*/

.container1 {
	width: 200px;
	background-color: gray;
	float: left;
	display: inline;


	
}


.container2 {
	width: 200px;
	background-color: gray;
	float: left;
	display: inline;
	
}


.container3 {
	width: 200px;
	background-color: gray;
	float: left;
	display: inline;

}




footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    position: bottom;
  	bottom: 0px;
  	margin-right: auto;
  	margin-left: auto;
  	width: 100%;
}


